 <!-- Page Container -->
    <div class="container-fluid">
    <center>
      <div class="row">
    <div class="jumbotron">
    <h1>The Good Burger<h1>      
    <p>Add a Burger to the list. Then devour it. <br> 
    Enter a Burger of your choice to the list using the submit form below. The list on the left keeps track of what you devoured.</p>    
        
    </center>
      <br>
      
      <br><br>

      <!-- Form to Input Burger-->
      <form action="create-burger" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Request a new burger!</label></center>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>

         
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Make my Burger!</button>
        </center>

      </form>

      <br>

    </div>





<div class="container bg">
	
	<div class="row">
	    <div class="center col-sm-12">

	        <p></p>
	    </div>
  	</div>


	<div class="row">
	    <div class="col-sm-6">

			<br>
			<h2>Burgers You Can Eat!</h2>

			<ul>
			
			        <form action="--HANDLEBARS CODE HERE-- ?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit">Devour It!</button>
			        </form>

			      </li>
			    --ENTER HANDLEBARS CODE HERE
			</ul>

	    </div>

	    <div class="col-sm-6">

			<h2>Burgers That Have Been Eaten!</h2>
			
		--ENTER HANDLEBARS CODE HERE--



	    </div>

  	</div>
	

	<div class="row">
	    <div class="center col-sm-12">

			<h2>Add A Burger!</h2>

			<form class="create-update-form" action="/" method="POST">

			  <div class="form-group">
			    <p>Enter a burger you want to order and click the Submit Order button.</p>
			    <input type="text" id="ca" name="burger_name">
			  </div>
			  
			  <button class="btn-primary" type="submit">Submit Order</button>
			</form>

	    </div>
	
  	</div>
	

</div>