 <!-- Page Container -->
    <div class="container-fluid">
    <center>
      <div class="row">
    <div class="jumbotron">
    <h1>The Good Burger<h1>      
    <p>Enter your favorite burger in the form below to add it to the virtual grill :P  <br> 
    Then devour it when you are hungry!</p>    
        
    </center>
      <br>
      
      <br><br>

      <!-- Form to Input Burger-->
      <form action="create-burger" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Enter your favorite burger here:</label></center>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>

         
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Slap the patty on the grill and hear it SsSsSsSizzle!</button>
        </center>

      </form>

      <br>

    </div>



<div class="container bg">
	
	<div class="row">
	    <div class="center col-sm-12">

	        <p></p>
	    </div>
  	</div>


	<div class="row">
	    <div class="col-sm-6">

			<br>
			<h2>Burgers You Can Eat!</h2>

			<ul>

			 
			
			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit">Devour It!</button>
			        </form>

			      </li>
			    --ENTER HANDLEBARS CODE HERE
			</ul>

	    </div>

	    <div class="col-sm-6">

			<h2>Burgers That Have Been Eaten!</h2>
			
		--ENTER HANDLEBARS CODE HERE--



	    </div>
  	</div>
</div>